@model Comp2139_Assignment1.Models.Registrations

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Add Registrations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomersID" class="control-label"></label>
                <input asp-for="CustomersID" class="form-control" />
                <span asp-validation-for="CustomersID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductsID" class="control-label"></label>
                <input asp-for="ProductsID" class="form-control" />
                <span asp-validation-for="ProductsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index"><button type="button" class="btn btn-primary"> Cancel</button></a>
            </div>
        </form>
    </div>
</div>

